/* Sources: https://www.w3schools.com/howto/howto_css_image_text_blocks.asp
https://www.w3schools.com/css/css_templates.asp
https://magicstudio.com/ai-art-generator
https://unsplash.com/s/photos/modern-factory/*/
body {
    margin: 0;
    font-family: Helvetica, Helvetica, sans-serif;
    background-image: url("e3.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #1f4291;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 19px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: lightslategray;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    position: relative;
}

.container{
    position: relative;
}
.text-block{
    position: absolute;
  top: 20%;
    left:50%;
    color: #1f4291;
    text-align: center;
    transform: translate(-50%, 50%);
    padding-left: 100px;
    padding-right: 100px;

}

/* Style the footer */
.footer {
    background-color: #1f4291;
    text-align: center;
    position: fixed;
    left: 0px;
    color: white;
    width: 100%;
    bottom: 0px;
   overflow: hidden;


}
