<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>

    <h1 style="color: black"> Customer Homepage</h1>
    <img src="{{ url_for('static', filename='estation1.png') }}" alt="logo"
         style="width: 200px;height:100px">
</header>
<main>
	<h1>Welcome, {{ session['username'] }}!</h1>
    <p>Your ID: {{ session['id'] }}</p>
    <h4> <a href="{{ url_for('cancel') }}"> Old orders</a></h4>
	<h4> <a href="{{ url_for('search') }}"> Search</a></h4>
</main>
</body>
<footer>
<a href="{{ url_for('logout') }}">Logout</a>
</footer>
</html>