<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body>
    <img src="{{ url_for('static', filename='estation1.png') }}" alt="eStation Logo" width="150">

    <h1>About Us</h1>
    <p>eStation is an inventory management system for vendors across the world to connect with buyers. 
       We take pride in making sure our customers are well taken care of. 
       Contact us for any issues at all!</p>

    <h1>Contact Us</h1>

<form action="{{ url_for('contactus') }}" method="post">
    <label>Name:<br>
    <input type="text" name="name" required><br><br>
    </label>

    <label>Email:<br>
    <input type="email" name="email" required><br><br>
    </label>

    <label>Message:<br>
    <textarea name="desc" required></textarea><br><br>
    </label>

    <button type="submit">Send</button>
    </form>

    <p> <a href="{{ url_for('homepage') }}"> Back to Home</a></p>

</body>
</html>
