<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homes.css') }}">
</head>
<style>
    .buyer-box{
        height: 370px;

    }
    .buyer-box p{
        font-weight: bold;
        font-size: 15px;
        margin: 0;
    }
.buyer-section{
    justify-content: center;
}
</style>
<body>
<nav style>
    <div class="nav-content">
        <div class="logo">
            <img src = "{{ url_for('static', filename='estation.webp') }}" alt="logo"
                 style="width: 130px;height:70px; padding: 10px 4px;">
        </div>

        <ul class="nav-links" style="float: right">
            <li><a href="{{url_for('Bhomepage')}}">Back to Home</a></li>
            <li><a href="{{ url_for('search')}}">Search</a></li>
            <li><a href="{{url_for('login')}}">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="buyer-section" style="padding-top: 10px">
    <div class="helptext">
        <p style="padding-top: 70px">Full Guides on how to Build your PC.</p>
    </div>
<div class="buyer-box">
<iframe width="420" height="315"
        src="https://www.youtube.com/embed/3vl1hd9vlqA"></iframe>
    <p style="color: black">Short length full guide.</p>
    </div>

    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/PXaLc9AYIcg"></iframe>
        <p style="color: black">Medium length full guide.</p>
    </div>
    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/Mho0M1Ns0Rw"></iframe>
        <p style="color: black">Thorough full guide.</p>
    </div>

    <div class="helptext">
        <p>Suggestions/Insight.</p>
    </div>

    <div class="buyer-box" >
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/c9783HUFXOI"></iframe>
        <p style="color: black">How to choose the right CPU.</p>
    </div>

    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/mV1qRMLCNE4"></iframe>
        <p style="color: black">How to choose the right Motherboard.</p>
    </div>
    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/Uf8Go6JqqWk"></iframe>
        <p style="color: black">How to choose the right amount of RAM.</p>
    </div>

    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/8hyWXJe_wts"></iframe>
        <p style="color: black">How to choose the right GPU.</p>
    </div>

    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/ptUchraop3c"></iframe>
        <p style="color: black">How to choose the right Monitor.</p>
    </div>
    <div class="buyer-box">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/E9SLAFHv8QY"></iframe>
        <p style="color: black">How to choose the right Fans.</p>
    </div>
</div>

</body>
</html>