<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homes.css') }}">
    <style>

        .error {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<nav style>
    <div class="nav-content">
        <div class="logo">
            <img src = "{{ url_for('static', filename='estation.webp') }}" alt="logo"
                 style="width: 130px;height:70px; padding: 10px 4px;">
        </div>

        <ul class="nav-links" style="float: right">
            <li><a href="{{url_for('homepage')}}">Back to Home</a></li>
            <li><a href="{{url_for('signup')}}">Sign up</a></li>
        </ul>
    </div>
</nav>
<header style="padding-bottom: 60px">
    Sign-in
</header>
<form action="{{ url_for('login') }}" method="post">
    <label for="accountType">Select Account Type:</label>
    <select id="accountType" name="accountType">
        <option value="Buyer">Buyer</option>
        <option value="Vendor">Vendor</option>
    </select><br><br>

    <label for="username">Username</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br><br>

    {% if error %}
<p style="color: red;">{{ error }}</p>
    {% endif %}

    <input type="submit" class="btn" value="Sign In"><br><br>
</form>

</body>
</html>
