<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
        form {
            background-color: black;
            height: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: inherit;
            padding-top: -5px;
            padding-left: 91px;

        }
        input, textarea, button {
            width: 100%;
            margin-top: inherit;
            padding-bottom: 9px;

        }

    </style>
</head>
<body>

<nav style>
    <div class="nav-content">
        <div class="logo">
            <img src = "{{ url_for('static', filename='estation.webp') }}" alt="logo"
                 style="width: 130px;height:70px; padding: 10px 4px;">
        </div>

        <ul class="nav-links" style="float: right">
            <li><a href="{{ url_for('Bhomepage') }}">Home</a></li>
            <li><a href="{{ url_for('contactus') }}">Contact</a></li>
            <li><a href="{{ url_for('cartpage')}}">Cart</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
        </ul>
    </div>
</nav>


<div class="container2" style="padding-top: 60px">
    <div class="search-input">
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search Products">
            <button onclick="lookup()" style="width: 20%;
    padding-left: 19px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}"><i class="fa-solid fa-magnifying-glass" style="color: gray; position: absolute; font-size: 20px; padding-left: 20px"></i></button>
        </div>
    </div>
</div>

<div id="main">
<div class="image-area" style="position: absolute">
    <img src="{{ url_for('static', filename='e3.png') }}">
    <div class="text-overlay" style="position: absolute">
        All Things Computers.
        <div class="buttons">
            <button>Vendors</button>
            <button>Browse Products</button>
        </div>
    </div>
</div>
<div class="image-container-section">
<h2 style="padding-top: 600px; padding-bottom: 20px">Explore Everything you need to Build your Computer.</h2>

    <div class="image-container">
    <div class="image-box">
        <img src="{{ url_for('static', filename='cpu.png') }}" alt="cpu">
        <p>CPUs</p>
    </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='gpu.png') }}" alt="cpu">
            <p>GPUs</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='case.png') }}" alt="cpu">
            <p>Cases</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='mother.png') }}" alt="cpu">
            <p>Motherboards</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='ram.png') }}" alt="cpu">
            <p>RAM</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='SSD.png') }}" alt="cpu">
            <p>SSD</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='monitor.png') }}" alt="cpu">
            <p>Monitors</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='mouse.png') }}" alt="cpu">
            <p>mouses</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='keyboard.png') }}" alt="cpu">
            <p>Keybaord</p>
        </div>
    </div>
</div>


</div>

<div id="results">

    </div>


<span onclick="openNav()" style="font-size: 30px;cursor: pointer;position: absolute;top: 10px; left: 10px"><i class="fa-solid fa-bars" style="color: gray; position: absolute; font-size: 20px; padding-left: 30px; padding-top: 95px"></i></span>

<div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-solid fa-x" style="color: gray; position: absolute; font-size: 20px; padding-left: 10px; padding-top: 50px"></i></a>
    <p style="margin-bottom: -30px;padding-left: 20px; justify-content: center">Filter by price</p>
    <form style="padding-left: 50px; padding-top: 60px">
        <label for="minval">Minimum</label>
        <input type="number" name="minval" id="minval" style="position: relative; display: flex">
        <br> <label for="maxval">Maximum</label>
        <input type="number" name="maxval" id="maxval" style="width: 100px;"></label>
        <br> <button type="button" onclick="userfilter()" style="width: 100px; height: 100px; position: relative; display: flex; justify-content: center">filter</button>
    </form>


</div>


<script>
    function lookup() {

        document.getElementById("main").style.display = 'none';
        document.getElementById("results").innerHTML= "";
        let search = document.getElementById("search").value;
        fetch(`/searchS?search=${search}`)
            .then(response => response.json())
            .then(data => {
                let resultsDiv = document.getElementById("results");
                resultsDiv.innerHTML = "";
                let imageContainer = document.createElement('div');
                imageContainer.className = "image-container-section";
                imageContainer.innerHTML='<h2 style="padding-bottom:20px"> Search Results</h2><div class="image-container">'

                data.forEach(product => {
                    let imagebox = document.createElement('div');
                    imagebox.className = 'image-box2';
                    imagebox.innerHTML +=
                       `<img src="/get_product_image/${product.ProductID}"style="height:auto; border-radius:10px;">
                      <p style="text-align: center; margin-top:10px; font-weight: bold;">  ${product.ProdName} </p>
                       <p style="text-align: center">$${product.ProdPrice}</p>
                        <button type="button" style="align-self: center" onclick="gotoItem(${product.ProductID})">Check item</button>

`;
                    imageContainer.querySelector('.image-container').appendChild(imagebox);
                });
                resultsDiv.appendChild(imageContainer);
            });
    }

</script>

<script>
    function gotoItem(productId) {
        window.location.href = `/item/${productId}`;  // Redirect to item page with the product ID
        document.getElementById("bruh1").remove();
    }
</script>

<script>
    fetch(`http://127.0.0.1:5000/filterp?minval=${minval}&maxval=${maxval}&search=${search}`)
    function userfilter() {
        document.getElementById("main").style.display = 'none';
        document.getElementById("results").innerHTML= "";
        let minval = document.getElementById("minval").value;
        let maxval = document.getElementById("maxval").value;
        let search = document.getElementById("search").value;

        fetch(`http://127.0.0.1:5000/filterp?minval=${minval}&maxval=${maxval}&search=${search}`)
            .then(response => response.json())
            .then(data => {
                let resultsDiv = document.getElementById("results");
                resultsDiv.innerHTML = "";
                let imageContainer = document.createElement('div');
                imageContainer.className = "image-container-section";
                imageContainer.innerHTML='<h2 style="padding-bottom:20px"> Search Results</h2><div class="image-container">'

                data.forEach(product => {
                    let imagebox = document.createElement('div');
                    imagebox.className = 'image-box2';
                    imagebox.innerHTML +=
                        `<img src="/get_product_image/${product.ProductID}"style="height:auto; border-radius:10px;">
                      <p style="text-align: center; margin-top:10px; font-weight: bold;">  ${product.ProdName} </p>
                       <p style="text-align: center">$${product.ProdPrice}</p>
                        <button type="button" style="align-self: center" onclick="gotoItem(${product.ProductID})">Check item</button>

`;
                    imageContainer.querySelector('.image-container').appendChild(imagebox);
                });
                resultsDiv.appendChild(imageContainer);
            });
    }
</script>
<script>
    function openNav() {
        document.getElementById("sidenav").classList.add("open");
        document.body.classList.add("sidenav-open");
    }


    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("sidenav").classList.remove("open");
        document.body.classList.remove("sidenav-open")
    }
</script>

</body>
</html> 
