<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
        form {
            background-color: #1f4291;
            height: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: inherit;
            padding-top: -5px;
            padding-left: 91px;

        }
        input, textarea, button {
            width: 100%;
            margin-top: inherit;
            padding-bottom: 9px;

        }

    </style>
</head>
<body>

<nav style>
    <div class="nav-content">
        <div class="logo">
            <img src = "{{ url_for('static', filename='estation.webp') }}" alt="logo"
                 style="width: 130px;height:70px; padding: 10px 4px;">
        </div>

        <ul class="nav-links" style="float: right">
            <li><a href="{{ url_for('Bhomepage') }}">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{{ url_for('cartpage') }}">Cart</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>


<div class="container2" style="padding-top: 60px">
    <div class="search-input">
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search Products">
            <button onclick="lookup()" style="width: 20%;
    padding-left: 19px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}"><i class="fa-solid fa-magnifying-glass" style="color: gray; position: absolute; font-size: 20px; padding-left: 20px"></i></button>
        </div>
    </div>
</div>


<div class="image-area">
    <img src="{{ url_for('static', filename='e3.png') }}">
    <div class="text-overlay">
        All Things Computers.
        <div class="buttons">
            <button>Vendors</button>
            <button>Browse Products</button>
        </div>
    </div>
</div>
<div class="image-container-section">
<h2 style="padding-bottom: 40px">Explore Everything you need to Build your Computer.</h2>

    <div class="image-container">
    <div class="image-box">
        <img src="{{ url_for('static', filename='cpu.png') }}" alt="cpu">
        <p>CPUs</p>
    </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='gpu.png') }}" alt="cpu">
            <p>GPUs</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='case.png') }}" alt="cpu">
            <p>Cases</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='mother.png') }}" alt="cpu">
            <p>Motherboards</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='ram.png') }}" alt="cpu">
            <p>RAM</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='SSD.png') }}" alt="cpu">
            <p>SSD</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='monitor.png') }}" alt="cpu">
            <p>Monitors</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='mouse.png') }}" alt="cpu">
            <p>mouses</p>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='keyboard.png') }}" alt="cpu">
            <p>Keybaord</p>
        </div>
    </div>
</div>
<h3>
    Interested in Building your own PC? Join Today!
</h3>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p>Filter by Price</p>

    <form style="padding-left: 50px; padding-top: 60px">
        <label for="minval"> Minimum
            <input type ="number" name ="minval" id="minval" style="width: 100px; position: relative; display: flex;>
        </label>
        <br>
        <label for="maxval"> Maximum
            <input type ="number" name ="maxval" id="maxval" style="width: 100px; ">
        </label>
        <br>
        <button type = "button" onclick="userfilter()" style="width: 100px; position: relative; display: flex;"> Filter </button>
    </form>


</div>



<span onclick="openNav()"></span>





<div id="results">

</div>

<script>
    function lookup() {
        document.getElementById("bruh1").innerHTML= "";
        let search = document.getElementById("search").value;
        fetch(`/searchS?search=${search}`)
            .then(response => response.json())
            .then(data => {
                let resultsDiv = document.getElementById("results");
                resultsDiv.innerHTML = "";
                data.forEach(product => {
                    resultsDiv.innerHTML += `
                    <p>
                        <img src="/get_product_image/${product.ProductID}" style="width: 100px;height:100px;">
                        ${product.ProdName} - $${product.ProdPrice}
                        <button type="button" style="align-self: center" onclick="gotoItem(${product.ProductID})">Check item</button>
                    </p>`;
                });
            });
    }

</script>

<script>
    function gotoItem(productId) {
        window.location.href = `/item/${productId}`;  // Redirect to item page with the product ID
        document.getElementById("bruh1").remove();
    }
</script>

<script>
    function userfilter() {
        document.getElementById("bruh1").innerHTML= "";
        let minval = document.getElementById("minval").value;
        let maxval = document.getElementById("maxval").value;
        let search = document.getElementById("search").value;

        fetch(`http://127.0.0.1:5000/filterp?minval=${minval}&maxval=${maxval}&search=${search}`)
            .then(response => response.json())
            .then(data => {
                let resultsDiv = document.getElementById("results");
                resultsDiv.innerHTML = "";
                data.forEach(product => {
                    resultsDiv.innerHTML += `
                    <p>
                        <img src="/get_product_image/${product.ProductID}" alt="Product Image" width="10px" height="10px">
                        ${product.ProdName} - $${product.ProdPrice}
                        <button type="button" onclick="gotoItem(${product.ProductID})">Check item</button>
                    </p>`;
                });
            });
    }
</script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

</body>
</html> 
