<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homes.css') }}">
</head>
<body>
<div class = "topnav">
    <img src = "{{ url_for('static', filename='whiteversion.webp') }}" alt="logo"
         style="width: 100px;height:40px">
    <a href="{{ url_for('Bhomepage') }}" style="float: right">Buyer Homepage</a>

</div>

<header >
	Search
</header>
<form>
    <input type="text" name="search" id="search" required><br><br>
<button type = "button" onclick="lookup()"> Search </button>
</form>

<form>
<label for="minval"> Minimum price
    <input type ="number" name ="minval" id="minval">
</label>
<label for="maxval"> Maximum price
    <input type ="number" name ="maxval" id="maxval">
</label>
<button type = "button" onclick="userfilter()"> Filter </button>
</form>

<div id="results">
	<div class="column">
	<div id="prod"></div>
	<div id="price"></div>
	<div id="desc"></div>
	<div id="supplier"></div>
	<div id="image"></div>
	</div>
</div>

<script>
	function lookup() {
    let search = document.getElementById("search").value;

    fetch(`http://127.0.0.1:5000/searchS?search=${search}`)
        .then(response => response.json())
        .then(data => {
            let resultsDiv = document.getElementById("results");
            resultsDiv.innerHTML = "";
            data.forEach(product => {
                resultsDiv.innerHTML += `<p>${product.ProductID} ${product.ProdName} - $${product.ProdPrice}
				<button type="button" onclick="gotoItem(${product.ProductID})">Check item</button>
				</p>`;
            });
        });
}
</script>

<script>
	function gotoItem(productId) {
		window.location.href = `/item/${productId}`;  // Redirect to item page with the product ID
	}
</script>

<script>
	function userfilter() {
    let minval = document.getElementById("minval").value;
    let maxval = document.getElementById("maxval").value;
    let search = document.getElementById("search").value;

    fetch(`http://127.0.0.1:5000/filterp?minval=${minval}&maxval=${maxval}&search=${search}`)
        .then(response => response.json())
        .then(data => {
			let resultsDiv = document.getElementById("results");
            resultsDiv.innerHTML = "";
            data.forEach(product => {
                resultsDiv.innerHTML += `<p>${product.ProductID} ${product.ProdName} - $${product.ProdPrice}
				<button type="button" onclick="gotoItem(${product.ProductID})">Check item</button>
				</p>`;
            });
        });
}

</script>

</body>
</html>